.line {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    padding: 50px 50px 50px 50px;
}

.center {
    margin-left: 35%;
    margin-right: 35%;
    position: relative;
}